@import './styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  margin: 0;
  font-family: "Concert One", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.concert-one {
  font-family: "Concert One", sans-serif;
  font-style: normal;
}
