@import '../../styles/colors.scss';

main {
    #contact-container {
      background-color: $purple;
      #contactUs {
        height: 9vw;
        width: auto;
        padding-left: 20vw;
      }
    }
  }